<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title key="title"></title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('../admin/partials/adminHeader', {menu:menu}); %>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('../admin/partials/topbar'); %>


                        <!-- Begin Page Content -->
                        <div class="container-fluid" id="areaContainer">
                            <!-- Page Heading -->
                            <h1 class="h3 mb-4 text-gray-800" key="area">Area</h1>
                            <div class="row" id="divareaList">
                            </div>
                            <div class="row">
                                <button id="btnAdd" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text">Add Area</span>
                                </button>
                            </div>

                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include('../admin/partials/adminFooter'); %>
                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <div id="areaModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm Khu Vực</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên Khu Vực:</label>
                        <input type="text" class="form-control" data-id="" id="areaName" name="areaName">
                    </div>
                    <div class="form-group">
                        <label>Mô tả:</label>
                        <textarea class="form-control" data-id="" id="areaDes" name="areaDes"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addarea()">OK</button>
                    <button type="button" class="btn btn-danger" id="btnDeletearea"
                        onclick="deletearea()">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('../admin/partials/modallogout'); %>
        <script id="areaItem-template" type="x-tmpl-mustache">
    <div class="card mw-50 mb-4 py-3 mr-3 border-bottom-primary">
        <div class="card-body">
            <button class="border-0 bg-transparent" onclick="areaDetails({{AreaID}})">
                <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">{{AreaName}}</div>
            </button>
        </div>
    </div>
</script>

        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="../js/sb-admin-2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        <script src="../js/jquery.MultiLanguage.js"></script>
        <script src="../js/bootstrap-show-notification.js"></script>
        <script src="../admin/js/jquery.area.js"></script>

</body>

</html>