<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mobile Shop Project - Sign Up Success</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <link rel="stylesheet" href="../adminpublic/css/bootstrap.min.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../adminpublic/css/fontawesome.min.css">

</head>

<body onload="checkErr()">
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
    <section class="vh-100 gradient-custom">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <blockquote class="blockquote text-right">
                        <p class="display-1 mb-0">MOBILE</p>
                        <p class="display-1">SHOP</p>
                        <footer class="blockquote-footer" style="color: white;"><cite title="Source Title">Long Huan Project </cite></footer>
                    </blockquote>
                </div>
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white " style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <p class="display-3 mb-0">SIGN UP </p>
                            <p class="display-3">SUCCESS</p>
                            <a href="login" class="btn btn-outline-light"> Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../adminpublic/js/loginJS.js"></script>

</html>